[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
requests = "*"
gunicorn = "*"
waitress = "*"
django-extensions = "*"
knox = "*"
cryptography = "*"
jinja2 = "*"
boto3 = "*"
django-rest-knox = "*"
importlib = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.7"
